<!DOCTYPE html>
<html>
    <head>
        <title>foodfy</title>

        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/receitas.css">
        <link rel="stylesheet" href="/sobre.css">
    </head>

    <body>
        <header>
            <a href="/"> <img class="logo" src="/imagens/logo.png" alt="Logo foodfy"> </a>
            <div class= "links">            
                <a href="/sobre"> Sobre </a>
                <a href="/receitas"> Receitas </a>
            </div>
        </header>       
        
        {% block content %}{% endblock %}

        <footer>
            <!--rodapé-->
            Todos direitos reservados, receitas Foodfy
        </footer>

    </body>

</html>
