{% extends "layout.html" %}

{% block content %}


        <section class="video-receitas">

            <div class="receita" id="burger.png">
                <img src="/imagens/burger.png" alt="Hamburguer">
                <h1>Triplo bacon burger</h1>
                <p>por Jorge Taleto<p>
            </div>

            <div class="receita" id="pizza.png">
                <img src="/imagens/pizza.png" alt="pizza">
                <h1>Pizza 4 estações</h1>
                <p>por Fabiana Melo<p>
            </div>

            <div class="receita" id="espaguete.png">
                <img src="/imagens/espaguete.png" alt="macarrão">
                <h1>Espaguete ao alho</h1>
                <p>por Júlia Kavoto<p>
            </div>

            <div class="receita" id="lasanha.png">
                <img src="/imagens/lasanha.png" alt="lasanha">
                <h1>Lasanha mac n' cheese</h1>
                <p>por Juliano Vieira<p>
            </div>

            <div class="receita" id="doce.png">
                <img src="/imagens/doce.png" alt="doce">
                <h1>Docinho pão-do-céu</h1>
                <p>por Ricardo Galvão<p>
            </div>

            <div class="receita" id="asinhas.png">
                <img src="/imagens/asinhas.png" alt="asa de frango">
                <h1>Asinhas de frango ao barbecue</h1>
                <p>por Vania steroski<p>
            </div>

            <div class="receita" id="burger.png">
                <img src="/imagens/burger.png" alt="Hamburguer">
                <h1>Triplo bacon burger</h1>
                <p>por Jorge Taleto<p>
            </div>

            <div class="receita" id="pizza.png">
                <img src="/imagens/pizza.png" alt="pizza">
                <h1>Pizza 4 estações</h1>
                <p>por Fabiana Melo<p>
            </div>

            <div class="receita" id="espaguete.png"> 
                <img src="/imagens/espaguete.png" alt="macarrão">
                <h1>Espaguete ao alho</h1>
                <p>por Júlia Kavoto<p>
            </div>

            <div class="receita" id="lasanha.png">
                <img src="/imagens/lasanha.png" alt="lasanha">
                <h1>Lasanha mac n' cheese</h1>
                <p>por Juliano Vieira<p>
            </div>

            <div class="receita" id="doce.png">
                <img src="/imagens/doce.png" alt="doce">
                <h1>Docinho pão-do-céu</h1>
                <p>por Ricardo Galvão<p>
            </div>

            <div class="receita" id="asinhas.png">
                <img src="/imagens/asinhas.png" alt="asa de frango">
                <h1>Asinhas de frango ao barbecue</h1>
                <p>por Vania steroski<p>
            </div>
        </section>


        <div class="modal-overlay">
            <div class="modal">
                <a href="" class="close-modal"> Fechar </a>

                <div class="modal-content">

                    <iframe src="" frameborder="0"></iframe>
    
                </div>
            </div>
            
        </div>

        <script src="scripts.js"></script>

{% endblock %}
